body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    color: #333;
}

body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}


yellow-bg{background: #f7dc72 !important;}



#colorlib-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#colorlib-wrapper > div {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

a {

    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover {
    text-decoration: underline;
    color: #f90e30;
}

a:focus,
a:active {
    outline: none;
}

p,
span {
    margin-bottom: 1.5em;
    font-weight: 400;
}

ul,
ol {
    display: block;
    margin-bottom: 1.5em;
}

span {
    font-size: 18px;
    color: rgba(114, 114, 114, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(0, 0, 0, 0.8);
    margin: 0 0 30px 0;
    line-height: 1.3;
}

::-webkit-selection {
    color: #fcfcfc;
    background: #b7c2c2;
}

::-moz-selection {
    color: #fcfcfc;
    background: #b7c2c2;
}

::selection {
    color: #fcfcfc;
    background: #b7c2c2;
}

.nav > li{
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
/*    left: -70px;*/
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px;
    font-weight: 500;
}

#colorlib-main-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 4em 40px 40px 40px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1002;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    overflow-y: scroll;
}

#colorlib-main-nav .colorlib-nav-toggle {
    position: absolute;
    top: 30px;
    right: 40px;
    padding: 20px;
    height: 44px;
    width: 44px;
    background: rgba(0, 0, 0, 0.05);
    line-height: 0;
    padding: 0 !important;
    visibility: hidden;
    opacity: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.colorlib-nav-toggle {
    float: right;
    z-index: 1003;
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 0px;
}

.colorlib-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}

#colorlib-main-nav .colorlib-nav-toggle i {
    top: 18px !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0;
    text-indent: 0;
}

.colorlib-nav-toggle.active i {
    background: transparent !important;
}

.menu-show .colorlib-nav-toggle i {
    background: #000;
    color: #fff;
}

.colorlib-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 35px;
    height: 4px;
    color: #000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.colorlib-nav-toggle:hover i::before {
    top: -10px;
}

.colorlib-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.colorlib-nav-toggle.active i::before, .colorlib-nav-toggle.active i::after {
    background: #000;
}
.colorlib-nav-toggle:hover i::after {
    bottom: -10px;
}
.colorlib-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

#colorlib-main-nav .colorlib-nav-toggle:hover i::before, #colorlib-main-nav .colorlib-nav-toggle:hover i::after {
    content: '';
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
}

.colorlib-nav-toggle i::before {
    top: -7px;
}


.colorlib-nav-toggle i::before, .colorlib-nav-toggle i::after {
    content: '';
    width: 35px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}


.colorlib-nav-toggle i::before {
    top: -9px;
}

.colorlib-nav-toggle i::after {
    bottom: -9px;
}

.menu-show .colorlib-nav-toggle i::before, .menu-show .colorlib-nav-toggle i::after {
    background: #fff;
}

.menu-show #colorlib-main-nav {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#colorlib-main-nav .form-group {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

.form-group {
    margin-bottom: 30px;
}

#colorlib-main-nav #search {
    font-size: 14px;
    width: 100%;
    padding-right: 3em;
    border: none;
    border: 2px solid #f2f2f2;
    background: #fafafa;
    color: #333333 !important;
}

/*
input[type="text"] {
    height: 50px;
}
*/

.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: 1px solid whitesmoke;
    font-size: 16px;
    font-weight: 300;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

#colorlib-main-nav button {
    position: absolute;
    top: 0;
    right: -4px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: #F9CE00;
    color: #fff;
    border: none;
    padding: 16px;
}

/*.btn-primary {
    background: #F9CE00;
    color: #fff;
    border: 2px solid #F9CE00;
}*/


.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 13px !important;
    font-weight: 400;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}

#colorlib-main-nav ul {
    padding: 0;
    margin: 40px 0 3em 0;
}


ul, ol {
    display: block;
    margin-bottom: 1.5em;
}


#colorlib-main-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

/*
#colorlib-main-nav ul li.active a {
    color: #F9CE00;
}
*/

#colorlib-main-nav ul li a {
    display: inline-block;
    color: #fff;
    font-size: 60px;
    padding: 0 0;
    text-transform: capitalize;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    background: transparent;
}

.head-title {
    font-size: 20px;
}

#colorlib-main-nav .colorlib-nav-toggle:hover {
    background: black;
}

#colorlib-main-nav .colorlib-nav-toggle.show {
    visibility: visible;
    opacity: 1;
}

/*
#colorlib-page {
    position: relative;
    height: 550px;
}
*/
/*

header {
    padding: 2em 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 0 auto;
}
*/
.navbar-default{
    background: transparent;
    border: 0;
    min-height: auto;
    height: auto;
    margin-bottom: 0;
    padding: 20px 70px;
}

.navbar-default .navbar-brand{padding: 0;}
.nav.navbar-nav .active a{background-color: transparent;color: #f90e30;}
header .colorlib-navbar-brand {float: left;}
/*.fixed-header .navbar-brand img{width: 200px; transition: all .2s ease-in-out; transform: scale(.8);}
.fixed-header .navbar-default{padding: 15px 90px;}*/

header .colorlib-navbar-brand .colorlib-logo {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 700;
    letter-spacing: 10px;
    display: block;
    text-align: center;
}




.menu-show #colorlib-page:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.4);
    z-index: 3;
}


.fixed-header .header-menu {
    background: #fff;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.navbar-brand{height: auto;}
.banner-section .col-xs-12{padding: 0;}

/*
.banner-section-one{
    height: 550px;
    line-height: 550px;
    color: #fff;
    text-align: center;
    background-image: url(../images/section-one-yellowbg.png);
}
*/

/*
.banner-section-two{height: 550px;
    line-height: 550px;
    color: #fff;
    text-align: center;
    background-image: url(../images/section-two-bgyellow.png);
}
*/

.banner-section-one p, .banner-section-two p{
    color: #595959;
    line-height: 1.6em;
}

/*.align-middle{text-align: left; line-height: 63px; display: inline-block; vertical-align: middle;}*/
#colorlib-page .align-middle-demo{text-align: center;line-height: 63px;/* display: inline-block; */vertical-align: middle;position: absolute; bottom: 60px; left: 0; right: 0;}
.align-middle-demo h1{color:#000;font-size:17px;font-weight:700;text-transform: uppercase; margin-bottom: 0;}
.align-middle h1{color: #000;font-size: 42px;font-weight: 800;}
.align-middle a, .who-we-are a{color: #ffffff; /*border: 1px solid #fff;*/ padding: 10px 20px; border-radius: 6px; background-color: #089a20; border-bottom: solid 4px #066415; transition: all 0.3s ease-in-out 0s;}
.caret{border-top: 15px dashed; border-top: 4px solid \9; border-right: 15px solid transparent; border-left: 15px solid transparent; margin-top: 35px;color: #fff;}
.open{position: relative;}
.open .dropdown-menu{position: relative; left: 0; right: 0; top: 0; bottom: 0; display: inline-block; width: 100%; margin:0 !important;}
.dropdown-menu{background: transparent;}
.dropdown a{position: relative;}
.dropdown a span{position: absolute; right: -40px; top: 20%;}
.open .dropdown-menu a {font-size: 50px !important; line-height: 1.7;}
/*.align-middle .col-xs-7 {padding-left: 90px;}*/
.talent-search-points, .banner-section-one .align-middle .col-xs-7, .banner-section-two .align-middle .col-xs-7{padding-left: 0;}
.banner-section-one{display: inline-block; width: 100%; padding-left: 70px; height: 400px; line-height: 400px;}/*background: #fcfcfc; */
.banner-section-two { display: inline-block; width: 100%; padding-left: 0; height: 400px; line-height: 400px;}/*background: #f1f1f1;*/
.align-middle {text-align: left; line-height: 63px; display: inline-block; vertical-align: middle; width: 100%;}
.banner-section-one a, .banner-section-two a{margin-top: 20px; display: inline-block; margin-left: 5px; line-height: 1.5;}


.align-middle a:hover, .who-we-are a:hover{text-decoration: none; background-color: #055f14; border-bottom: solid 4px #03320b;}
button.btn:hover{background-color: #055f14;}



.owl-next{ background: #ededed !important;}
.clients img.img-responsive{width: 700px; display: inline-block;}

/*.solutions, .information, .who-we-are, footer{margin:20px;}*/

.clients h2, .solutions h2, .information h2, .who-we-are h2, .home-demo h2{color: #000000;text-transform: uppercase;font-weight: 900;letter-spacing: 2px; font-size: 35px;}
.candidate .candidate-title{color: #000000;font-weight: 600;font-size: 18px;margin: 20px 0px 10px;}
.candidate p{color: #000000;font-size: 14px;}
.who-we-are p{color: #000000;font-size: 16px;text-align: center;}
.candidate a{display: inline-block; color: #808080; border: 1px solid #808080; border-radius: 10px; padding: 3px 15px;}
/*.candidate a:hover{background: #808080; color: #fff; text-decoration: none;}*/
.candidate a{padding: 0; border: 0;}
.candidate{padding: 30px;}
.candidate:hover{padding: 30px;background:#f0f0f04d; -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);}/* #f7dc72 */
.candidate-img{margin: 0 auto;text-align: center;width: 120px;}
.clients img,.solutions .candidate, .information .subscribe{margin-top: 20px; transition: all 0.3s ease-in-out 0s;}

.subscribe{background: #fff; -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2); box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2); display: inline-block; width: 100%; border-radius: 15px; padding: 50px 20px;}
.subscribe input{border-radius: 10px; border: 1px solid #707070;}
.subscribe .btn{height: 50px; line-height: 35px; background: #5d5d5d; border: 0; border-radius: 10px; margin: 0; text-transform: capitalize; letter-spacing: 0; font-size: 16px !important; border: 1px solid #5d5d5d;}
.subscribe .btn:hover{background: transparent;  color: #5d5d5d;}
.information{background: #f7f7f7; padding: 80px 0;}
footer{background: #484747; color: #fff !important; padding: 100px 0;}
/*.glancework h4, .footer-information h4, .contact-details h4, .newsletter h4{color: #fff;}*/
.social-media-icons, .contact-details ul{padding: 0; }
.social-media-icons li{display: inline-block; width: 35px; height: 35px; border: 2px solid #fff; border-radius: 50px;  text-align: center; line-height: 30px; margin-right: 10px; transition: 0.5s;}
.social-media-icons li a{color: #fff; vertical-align: middle;}
.social-media-icons li.facebook:hover{background: #3A559F; color: #fff;}
.social-media-icons li.linkedin:hover{background: #0077B7; color: #fff;}
.social-media-icons li.twitter:hover{background: #50ABF1; color: #fff;}
.footer-information ul{padding-left: 0;}
.footer-information ul li, .contact-details ul li{list-style: none; line-height: 2;}
.footer-information ul li a{color: #fff;}
.contact-details ul li i{padding-right: 7px;}
.newsletter .form-group{position: relative;}
.newsletter .form-group .form-control{background: transparent; color: #fff; padding: 10px; height: 40px;}
.newsletter .form-group i{ display: inline-block; position: absolute; right: 15px; bottom: 12px; color: #fff;}
.newsletter .form-group .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.newsletter .form-group .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.newsletter .form-group .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.newsletter .form-group .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.clients-logos-bottom{margin-top: 25px; display: inline-block;}

/*Client Logo*/

.client-logos {
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

/*Solution*/


/*Testimonial*/
.testimonials img{width: auto !important; }
.home-demo{padding: 100px 3px 100px;}
.testimonials {border: 1px solid #bfbfbf; border-radius: 15px; margin-right: 20px; margin-left: 10px;}
.testimonials ul{padding: 15px 30px; margin-bottom: 0; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; background: #f7dc72;     position: relative;}
.testimonials ul li{display: inline-block;width: 48%;font-size: 16px;font-weight: 600;color: #272727;}
.testi-icon{padding-left: 50px;}
.testimonials p{padding: 30px 37px 50px;color: #272727;font-size: 14px;}
.testi-icon img{width: 80px !important;}
li.testi-icon {position: absolute; right: 0; top: -40px;}
.owl-next, .owl-prev{padding: 0 !important;margin: 0 !important; background: transparent !important; color: #7f7f7f !important; position: absolute; left: -8px; top: 38%; }
.owl-next i, .owl-prev i{ font-size: 25px; }
.owl-next{right: -24px;left: auto;}
.owl-dots{margin-top: 30px;}
/*.owl-carousel .owl-stage-outer{margin-left: 12px;}*/

.who-we-are{padding: 76px 10px;}
.solutions {padding: 76px 10px;}/*background-color: #f7dc72;*/

/*banner free demo*/
/**/
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}
.free {
    text-transform: uppercase;
}
.input-group {
    /*margin: 20px auto;*/
    width: 100%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 40%;
    height: 42px;
    text-align: left;
    cursor: initial;
/*    border-top-right-radius: 0;
    border-bottom-right-radius: 0;*/
}
button.btn {
    width: 20%;
    height: 42px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #089a20;
    border: none;
    /* border-bottom: solid 2px #333333; */
    /* border-radius: 4px; */
}
.promise {
    color: #999;
}
/**/

/*Footer*/
    footer {background: url('../images/footer-bg.png') no-repeat bottom center; padding: 80px 0 0 0; color: #272727;}/* height: 600px;  margin-top: 100px;*/
/*form{margin-top: 25px;}*/
.social-links ul {padding-left: 0; margin-top: 20px;}
.social-links ul li{display: inline-block; width: 35px; height: 35px; text-align: center; border-radius: 50px; line-height: 36px; margin: 0 3px;}
.social-links ul li.facebook{background: #4e71a8;}
.social-links ul li.google-plus{background: #db453a;}
.social-links ul li.twitter{background: #1cb7eb;}
.social-links ul li.linkedin{background: #1686b0;}
.social-links ul li a{color:#fff; padding: 6px;}
.social-links{margin: 0 auto; width: 200px;}
address{display: inline-table; padding-left: 5px; line-height: 27px; margin-bottom: 0;}
.address i{color: #0d83b5; font-size: 20px;}
.address ul li a{color: #272727;}
.address ul{padding-left: 0; font-size: 15px;}
.address ul li{list-style: none; color: #272727; margin-top: 15px; }
footer form input{margin-top: 15px; border-radius: 0 !important;}
form a{margin-top: 20px; background: #0c609c;}
.address li span{padding-left: 10px; color: #272727; font-size: 15px;}
.footer{display: inline-block; width: 100%; border-bottom: 2px solid #b2b2b2; padding-left: 100px; padding-bottom: 30px;}
.copyrights {color:#333333;padding: 35px 0 25px 100px; display: inline-block; width: 100%;}
.footer-links li {list-style: none; display: inline-block; padding: 0 5px;}
.copyrights p {font-size: 13px; text-align: center; margin-left: 75px; margin-top: 12px;}
.footer-links li a {font-size: 13px;}

/*/.Footer*/






/*contact us*/
.contact-banner{position: relative; margin-top: 85px; color: #272727;}
.contact-banner .col-xs-12{padding: 0;}
.banner-content{position: absolute; width: 30%; top: 30%; left: 6%; text-align: left; line-height: 30px;}
.banner-content h1 {font-size: 50px; font-weight: 800; }
.form-group {margin-bottom: 20px;}
.right-side-form .form-group input{background: #f0f0f0; height: 45px; }
.right-side-form .form-group textarea{background: #f0f0f0; }
.form-bg{background: #fff; display: inline-block; width: 100%; -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);  margin: 100px 0; border-radius: 15px;}/*padding: 60px 30px;*/
.form-bg .col-xs-12.col-sm-4{padding: 0;}
.left-side-address {background: #0c609c; color: #fff; padding: 40px; border-bottom-left-radius: 15px; border-top-left-radius: 15px;}
.left-side-address p{font-weight: 100; font-size: 16px;}
.left-side-address h1{font-weight: 700; font-size: 30px; color: #fff; margin-bottom: 15px;}
.left-side-address a{color: #fff;  padding-bottom: 20px; display: inline-block;}
.right-side-form {padding: 40px 15px; display: inline-block; width: 100%;}
.contact-submit{background-color: #0c609c !important; color: #fff !important; letter-spacing: 0; font-size: 16px !important; font-weight: 600; border-radius: 5px; padding: 8px 30px; border: 0; transition: all 0.3s ease-in-out 0s;}
.contact-submit:hover{background: #094169 !important;}


/*Services page*/

.services-bg {background: #f0f0f0; text-align: right;}/*#f7dc72*/
.services-bg img{display: inline-block; width: 500px; margin-right: 90px; margin-top: 30px;}
.services-banner-content{position: absolute; width: 30%; top: 30%; left: 6%; text-align: left; bottom: 0; transform: translateY(30%); line-height: 30px;  }
.services-banner-content h1 {font-size: 50px; font-weight: 800; margin-top: 20px;}
.services-hiring-content p{margin-bottom: 10px;}
/*.hiring-services {padding: 100px 0;}*/


/*products css*/
.products img{padding-right: 40px;}

.job-seekers-1, .job-seekers-2, .job-seekers-3{margin-top: 50px; float: left;}
.job-seekers-1 img, .job-seekers-2 img, .job-seekers-3 img {float: left; width: 349px;}
.recruiter h2, .submit-resume h2, .search-job h2{font-size: 30px; font-weight: bold; color: #fff; margin-bottom: 20px;}
.recruiter, .submit-resume, .search-job {background: #34c1d6; color: #fff; padding: 30px; float: left; width: 69%; position: relative; margin-top: 61px;}
.recruiter:before, .submit-resume:before, .search-job:before {position: absolute; content: ""; width: 190px; height: 100%; background: #34c1d6; left: -119px; z-index: -1; top: 0;}
.recruiter p a, .submit-resume p a, .search-job p a{font-size: 16px; font-weight: bold; text-decoration: underline; color: #fff;}
.recruiter p, .submit-resume p{margin-bottom: 10px;}

.submit-resume{background: #d3df59; margin-top: 45px;}
.submit-resume:before{background: #d3df59; left: auto; right: -119px;}

.search-job{background: #67b967; margin-top: 45px;}
.search-job:before{background: #67b967; }


.d-inline-block{display: inline-block !important;}






.nav.navbar-nav, .footer-links{margin-top: 10px;}
.services-bg, .contact-bg{margin-top: 15px; height: 377px; vertical-align: middle; line-height: 350px;}
.jobseekers-img{width: 350px !important;}
/*.talent-search-points{padding-left: 0;}*/
.talent-search-points li{list-style: none; color: #000; line-height: 28px; font-size: 16px; margin-bottom: 10px; position:relative; padding-left: 20px; font-weight: 500;}
.talent-search-points li:before{content: "\f00c"; position: absolute; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; left: 0; top: 6px;}
.services-hiring-content h4{margin: 30px 0 12px 0; line-height: 33px;}

.services-hiring-content{height: 520px; overflow-y: scroll; padding-left: 40px; padding-right: 40px;}
.services-hiring-content::-webkit-scrollbar-thumb {background: transparent;}/*background-color: #F90; background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);*/

.services-hiring-content::-webkit-scrollbar{width: 10px;}
/*.services-hiring-content::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5;}*/




.js-fullheight.banner-section {height: auto !important;}


/* Hubspot forms css*/

.hs_email.hs-email{display: inline-block; width: 50%;}
.banner-form .hs-form-required{display: none;}
.hs_submit.hs-submit{display: inline-block;}
.hs_submit.hs-submit .actions{margin: 0 !important; padding: 0!important;}
.right-side-form .hs-input{width: 94% !important; border: 0 !important; border-radius: 0 !important; padding: 10px !important; background: #f0f0f0; box-shadow: initial !important;}
.hs-button.primary.large{border-radius: 0; background-color: #089a20; border: 0; box-shadow: initial !important; background-image: initial; padding: 14px 20px; display: inline-block; font-weight: 100; text-transform: uppercase;}
form{display: inline-block;}
.hs-button.primary.large:hover {border: 0 !important; background-color: #055d13;}
.hbspt-form form{width: 100%;}
.hs_error_rollup{display: none;}
.hs-error-msgs.inputs-list{position: absolute;}

.newsletter label{display: none !important;}
.newsletter input{width:100%; margin-top: 0;}
.newsletter .hs_email.hs-email{width: 100%;}
.newsletter .actions .hs-button.primary{background: #0c609c;}
.newsletter .actions .hs-button.primary:focus, .actions .hs-button.primary{border: 0 !important;}
.right-side-form .field.hs-form-field{margin: 15px 10px !important; display: inline-block !important; width: 46%;}
.right-side-form .hs-form-required{display: none !important;}
.hs-error-msgs.inputs-list{position: absolute;}
.hs_message.hs-message{width: 100% !important;}
textarea{max-width: 662px !important; height: 70px !important;}
.hs-error-msgs.inputs-list{width: auto !important;}
.right-side-form .actions .hs-button.primary{background-color: #0c609c !important; color: #fff !important; letter-spacing: 0; font-size: 16px !important; border-radius: 5px; padding: 15px 30px; border: 0; transition: all 0.3s ease-in-out 0s; text-transform: capitalize; margin-left: 10px;}
.newsletter .hs-input{padding: 10px 15px;}
.banner-form .hs-input{padding: 10px; border-radius: 0;}





/*.banner-section-one .align-middle h1{margin-bottom: 60px;}*/
.cloud-content{padding: 15px 20px;}
.cloud-content h4{margin-bottom: 10px; font-weight: bold; line-height: 26px; height: 50px;}
.cloud-content p {font-size: 14px; color: #333; text-align: justify; overflow-y: scroll; padding-right: 10px; height: 150px;}
.cloud{-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3); box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);     margin-top: 30px;}

.cloud-content p::-webkit-scrollbar-thumb{background-color: #F90; background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);}
.cloud-content p::-webkit-scrollbar{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5; width: 5px;}

.faqs p{margin-bottom: 10px;}
.banner{height: 560px; line-height: 560px; margin:50px 0 80px 0;}/*background: url(../images/banner.png) top left fixed;*/
.banner .col-xs-12{padding: 0;}
.yellow{color: #fa8101;}
.banner-content{color: #000;}
.main-banner-content{font-size: 35px; line-height: 1.5; display: inline-block; vertical-align: middle; color: #000; left: 0; position: relative; } /*text-shadow: 1px 1px 5px rgb(163, 163, 163); text-align: justify;*/
.main-banner-content .banner-word-1{font-size: 40px; font-weight: bold;}/*color: #089a20;*/
.main-banner-content{margin-top: 50px;}
.clients{padding: 100px 0;}
.products {margin-top: 100px;}
.products-content{transform: translateY(20%); top: 20%;}
.banner-img img{float: right; margin-right: 90px; margin-top: 80px;}



.services-banner-content a{padding: 10px 20px; border-radius: 6px; background-color: #089a20; border-bottom: solid 4px #066415; transition: all 0.3s ease-in-out 0s; color: #ffffff;}
.thumbnail-section{margin-top: 100px;}
.thumbnail-section h3 {line-height: 1.6; margin-top: 20px; font-size: 20px;}


.products-form-bg form .hs-input{width: 94% !important; border: 0 !important; border-radius: 0 !important; padding: 10px !important; background: #f0f0f0; box-shadow: initial !important; margin-left: 5px;}
.hs-form-required{display: none;}
.products-form-bg .hs_email{width: 100%;}
.candidate-section{display: inline-block; background: #f0f0f0; margin-top: -9px;}
.candidate-section .col-xs-4{padding-left: 0;}
.candidate-section .col-xs-8, .Seamless-section .col-xs-8{padding-top: 30px; }
.Seamless-section{margin-top: -9px; display: inline-block; background: #f8f8f8;}
.Seamless-section .col-xs-4{padding-right: 0;}
.Seamless-section h3, .candidate-section h3{margin-bottom: 15px;}
.read-more h4{font-weight: bold; margin-top: 60px;}
.products-form textarea.hs-input{width: 94% !important;}
.table{margin-bottom: 100px;}
.main-banner-content {padding-left: 70px; font-weight: 800;}
/*.form-products{background: #fff; display: inline-block; width: 100%; -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); margin: 100px 0; border-radius: 15px;}*/
.products-page-form{background: #fff; display: inline-block; width: 100%; -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); border-radius: 15px; margin-bottom: 100px; margin-top: 100px;}
.products-form-content {background: #0c609c; color: #fff; padding: 40px; border-bottom-left-radius: 15px; border-top-left-radius: 15px; height: 450px;}
.products-page-form .col-xs-4{padding-left: 0; padding-right: 0;}
.products-form-content h4{color: #fff; line-height: 1.8;}
.form-products {padding: 30px 15px; display: inline-block; width: 100%;}
.form-products .field.hs-form-field {margin: 15px 10px !important; display: inline-block !important; width: 46%;}
.products-page-form .hs_country.hs-country{width: 100%; display: inline-block;}
.hs_country.hs-country .input .hs-input{width: 92% !important; max-width: initial;}
.form-products .hbspt-form .hs_submit.hs-submit{margin-left: 15px; margin-top: 10px;}
.form-products .hs_submit.hs-submit .actions .hs-button{background: #0c609c !important; border-radius: 5px;}
.demo, .faqs{margin-top: 100px;}
.products-slider{position: relative;}
.products-slider{position: relative; width: 100%;}
.products-slider p{color: #333; padding: 30px 20px; text-align: justify; font-size: 15px; border: 1px solid #d3d3d3; overflow-y: scroll; height: 300px;}
.owl-carousel-1 .owl-stage-outer{margin-left: 0;}
.owl-carousel-1 .owl-prev{left: -30px;}
.owl-carousel-1 .owl-next{right: -30px;}
.upload-cv-form .products-form-content{height: 550px;}
.demo .hs_company.hs-company{width: 100%;}
.demo .hs_company.hs-company .hs-input{max-width: initial; width: 92% !important;}
.contact-heading{top: 45%;}
.banner-section h2{font-weight: 900; font-size: 35px; color: #000; margin-top: 60px;}
.banner-special{font-size: 50px;}
.banner-word-2 {font-size: 55px; font-weight: 900; color: #089a20;}
.js-fullheight.banner-section {background: url(../images/talent-bg.png) no-repeat top center fixed; height: 550px !important;}
.about{margin: 100px 0;}
.contact-heading h1{margin-top: 0;}
.contact-bnr img{width: 400px;}
.products-page-form .col-xs-12.col-sm-4{padding-left: 0; padding-right: 0;}
.products-image{position: relative;}
.products-image .slider-heading{position: absolute; bottom: 0; background: rgba(0,0,0,0.5); padding: 10px; color: #fff; width: 100%; margin-bottom: 0;}
.about-banner img{width: auto ;}
.products-form-content ul{padding-left: 20px;}
.products-form-content ul li{font-size: 16px; font-weight: 300;}























/*responsive css*/




@media (max-width: 1600px) {
    .align-middle h1 {font-size: 32px; line-height: 1.6;}/* padding-left: 90px;*/
    .main-banner-content{font-size: 32px;}
    .banner-word-2{font-size: 50px;}
}


@media (max-width: 1300px) {
    .main-banner-content{font-size: 28px;}
    .banner-word-2{font-size: 45px;}
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
    .banner-content{top: 10%; width: 45%;}
    .main-banner-content{font-size: 28px; line-height: 1.8; padding-left: 15px;}
    .banner-img img{width: 75%;}
    .banner .col-xs-12{padding: 0 15px;}
    .banner-img img{margin-right: 15px;}
    .banner{margin: 50px 0 0 0;}
    .banner-section-two{padding-left: 0;}
    .banner-section-one{padding-left: 15px;}
    .banner-section h2{margin-bottom: 0;}
    .main-banner-content{font-size: 30px;}
    .banner-word-2{font-size: 38px;}
    


}

@media (max-width: 1199px) { 
    .candidate{height: auto;}
    .copyrights{padding: 35px 0 25px 0;}
    .footer{padding-left: 0;}
    .align-middle .col-xs-7 {padding-left: 30px;}
    .owl-prev, .owl-next{display: none !important;}
    .navbar-default{padding: 20px 20px 20px 30px;}
    button.btn{width: auto;}
    .align-middle h1{font-size: 26px;}
    
    /* Job Seekers*/
    .recruiter:before, .submit-resume:before, .search-job:before{content: initial; position: static;}
    .job-seekers-1{background: #34c1d6;}
    .job-seekers-2{background: #d3df59;}
    .job-seekers-3{background: #67b967;}
    .recruiter, .submit-resume, .search-job{width: 60%; margin-top: 15px;}
    
    
}


 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { 
    /*.glancework, .footer-information{height: 350px;}*/
    .banner-section-one, .banner-section-two{height: 400px; line-height: 400px; padding: 0 20px;}
    footer{background: url(../images/footer-bg.png) no-repeat bottom center / cover;}
    .footer{padding-left: 0;}
    .social-links {margin: initial; width: auto;}
    #colorlib-page{height: auto;}
    .align-middle-demo form input{border: 1px solid #f0f0f0;}
    #colorlib-page .align-middle-demo {position: absolute; padding-top: 0; display: inline-block; width: 100%; bottom: 35px;}
    .footer .col-xs-12.col-md-4:first-child {width: 100%;}
    .footer .col-xs-12.col-md-4:nth-child(2){width: 50%; margin-top: 50px;}
    .footer .col-xs-12.col-md-4:last-child{width: 50%; margin-top: 50px;}
    .social-links h4, .address h4, .newsletter h4{font-weight: bold; font-size: 20px;}
    .copyrights .col-xs-12.col-md-2{text-align: center;}
    .copyrights p { margin-top: 35px; text-align: center; margin-left: 0;}
    .footer-links{text-align: center; padding-left: 0; margin-top: 10px;}
    .banner-section-one .align-middle{margin-top: 30px;}
    .js-fullheight.banner-section{height: auto !important;}
    .main-banner-content{text-align: left;}
    .hs_email.hs-email .input .hs-input, .hs_firstname.hs-firstname .input .hs-input{max-width: initial;}
    .banner-img img{width: 100%;}
    
    
/*    .services-hiring-content {padding-left: 0; }*/
    .services-hiring-image{text-align: center; margin-bottom: 50px;}
    .services-bg img{width: 350px;}
    .services-banner-content{width: 40%;}
    .jobseekers-img{width: 300px !important;}
    .services-banner-content{transform: translateY(10%);}
    .services-bg img{margin-right: 40px;}
    .products img {padding-right: 0; display: inline-block; float: none !important; margin-bottom: 30px;}
    .products{text-align: center;}
    .form-products .field.hs-form-field{width: 45%;}
    .products-page-form .hs_country.hs-country{width: 100%;}
    
     /* Job Seekers*/
    .job-seekers-1, .job-seekers-2, .job-seekers-3{text-align: center;}
    .job-seekers-2{display: -webkit-flex; -webkit-flex-direction: row-reverse; display: inline-flex; flex-direction: column-reverse;}
    .job-seekers-1 img, .job-seekers-2 img, .job-seekers-3 img{float: none; display: inline-block; margin: 30px auto 0; }
    .recruiter, .submit-resume, .search-job{width: 100%; margin: 0 auto; text-align: left;}
    .contact-bg{background: #f7dc72;}
    .banner-content {top: 25%; width: 40%; transform: translateY(10%); bottom: 0;}
    .contact-bg img{float: right; margin: 60px 35px 0 0; width: 350px;}
    .right-side-form .field.hs-form-field{width: 44%;}
   /* .input textarea{width: 92% !important;}*/
    .hs_message.hs-message{width: 96% !important;}
    
    .cloud img{width: 100%; }
    
    
}

@media (min-width: 768px) {
/*Solution*/


/*.who-we-are{padding: 76px 10px;}*/
    
.footer-information{position: relative; left: 74px;}
    
    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
/*    footer .col-xs-12{width: 50%;}*/
    footer .col-xs-12 .glancework{height: 380px;}
    /*footer .col-xs-12 .footer-information{height: 380px;}*/
    footer{padding: 50px 0 0;}
/*    .solutions{background-color: aliceblue;}*/
    
    
    .upload-cv-form .products-form-content{height: auto;}
    .demo .hs_company.hs-company{width: 94% !important;}
    
    
    

    
    /*menu*/
    .navbar-default{padding: 20px; background: #fff;}
    .navbar-toggle .icon-bar{margin-bottom: 0; width: 30px; height: 4px; border-radius: 0; background-color: #272727 !important;}
    .navbar-default .navbar-toggle{border: 0; margin: 10px 0 0 0;}
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background: transparent;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{border:0;}
    .nav.navbar-nav{width: 100%; margin: 20px 0 10px 0;}
    .navbar-collapse{padding: 0;}
    .nav > li > a{padding: 10px 10px 10px 0;}
    /*//menu*/
    
    
    .align-middle .col-xs-7{padding-left: 20px;}
    .align-middle-demo h1{margin-bottom: 10px;}
    .owl-next{right: 0;}
    .owl-prev{left: 0;}
    .testimonials{margin-right: 25px; margin-left: 0;}
/*    .banner-section-one{margin-top: 70px;}*/
    .solutions .col-xs-12.col-sm-6.col-lg-3{width: 50%;}
    .client-logos .col-sm-2.col-xs-6 {width: 33%;}
    .owl-nav{display: none;}
/*    .banner-section-one{background:  url('../images/section-one-yellowbg.png') no-repeat bottom center/ cover;}*/
/*    .banner-section-two{background: url('../images/section-two-bgyellow.png') no-repeat top center / cover;}*/
    .banner-section-one .align-middle {margin-top: 0;}
    .align-middle h1 {font-size: 32px; padding-left: 20px; line-height: 1.6;}
    
    
    /*contact us page*/
    .contact-banner .col-xs-12{text-align: center;}
    .banner-content{text-align: center; display: inline-block; width: 75%; margin-top: 35px; position: static; text-align: left;}
    .contact-banner{background: #f0f0f0; padding: 30px 0 50px 0; }
    .left-side-address{border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border-top-left-radius: 0;}
    .form-bg{width: 90%; text-align: left; margin: 50px 0; display: -webkit-flex; -webkit-flex-direction: row-reverse; display: inline-flex; flex-direction: column-reverse;}
    .contact-form{text-align: center;}
    .mobile-banner{display: inline-block !important;}
/*    .contact-banner img{ margin-top: 30px; width: 80%; margin: 30px auto;}*/
    .contact-banner img {width: auto; margin: 30px auto; float: none; padding: 0 20px;}
    
    /*services css*/
    .services-bg{display: -webkit-flex; -webkit-flex-direction: row-reverse; display: inline-flex; flex-direction: column;}
    .services-banner-content{position: static; padding: 0 50px; width: 100%;}
    .products-form-bg{padding: 0 15px;}
    .products-page-form .col-xs-12.col-sm-4{padding: 0;}
    .products-form-content{border-bottom-left-radius: 0; border-top-left-radius: 15px; height: auto; border-top-right-radius: 15px;}
    
    
    .services-bg, .contact-bg{line-height: initial; height: auto; padding: 0 20px;}
/*    .right-side-form .field.hs-form-field{width: 43%;}*/
    
    .about-and-products .col-xs-12{width: 50%;}
    .banner .col-xs-12{text-align: center;}
    .banner-img img{margin-top: 100px; width: 70%; display: inline-block; float: none;}
    .banner{line-height: initial;}
    .js-fullheight.banner-section{display: inline-block;}
    .banner-word-2{font-size: 32px;}
    .main-banner-content{font-size: 28px;}
    .cloud img{width: 100%;}
    
    
    .thumbnail-section img{display: inline-block;}


}

@media (max-width: 575px) {

    .glancework, .footer-information{height: auto;}
    footer .col-xs-12{width: 100%; height: auto;}
    .subscribe .col-xs-9.col-sm-6{width: 100%; border-radius: 0;}
    .subscribe .col-xs-9.col-sm-6 input{border-radius: 0;}
    .subscribe .col-xs-3.col-sm-2{width: 100%;}
    .subscribe .col-xs-3.col-sm-2 a.btn{width: 100%; border-radius: 0;}
    .home-demo{padding: 50px 3px;}
    
    .solutions .col-xs-12.col-sm-6.col-lg-3{width: 100%;}
    .client-logos .col-sm-2.col-xs-6 {width: 50%;}
    input.btn.btn-lg, input.btn.btn-lg:focus{width: 60%;}
    .services-bg, .contact-bg{width: 100%;}
    .services-banner-content{padding: 0;}
    .contact-banner img{padding: 0;}
    .hs_message.hs-message {width: 92% !important;}
    
    .form-products{padding: 30px 15px 30px 0;}
    .form-products .field.hs-form-field{width: 44%;}
    .products-page-form .hs_country.hs-country{width: 100%;}
    
    
}


@media (max-width: 460px) {
    
    .footer .col-xs-12.col-md-4:first-child {width: 100%;}
    .footer .col-xs-12.col-md-4:nth-child(2){width: 100%; margin-top: 50px;}
    .footer .col-xs-12.col-md-4:last-child{width: 100%; margin-top: 50px;}
    .copyrights .col-xs-12.col-md-2 {text-align: left;}
    .copyrights p{text-align: left; font-size: 14px;}
    .footer-links{text-align: left;}
    .navbar-brand img{width: 150px; margin-top: 2px;}
    .banner-section-one{margin-top: 20px;}
    .align-middle .col-xs-7{width: 100%; padding: 30px 15px;}
    .align-middle .col-xs-5{width: 100%;}
    .banner-section-one, .banner-section-two {height: auto; line-height: initial; padding: 30px 20px;}
    #colorlib-page {height: auto; display: inline-block;}
    .banner-section-two{padding: 20px;}
    .banner-section-two img{padding-bottom: 30px;}
    .align-middle .col-xs-8.wow{width: 100%;}
    .align-middle .col-xs-4.col-lg-pull-1{width: 100%; margin-top: 50px;}
    .align-middle h1{padding-left: 0;}
    
    

    
    /*contact us*/
    .right-side-form{padding: 40px 0;}
    .form-group.col-xs-6{padding: 0 10px;}
    .form-group.col-xs-12{padding: 0 10px;}
    .form-bg .col-xs-12.col-sm-8{padding: 0;}
    .right-side-form .field.hs-form-field{width: 44%;}
    
    
    
    .form-products .field.hs-form-field{margin: 15px 0 !important; margin: 15px 10px !important; display: inline-block !important;}
    .products-page-form .col-xs-12.col-sm-8{padding-left: 0; padding-right: 0;}
    .form-products .field.hs-form-field{width: 42%;}
    .form-products{padding: 30px 0;}
    .products-page-form .col-xs-12.col-sm-8{padding: 0;}
    .form-products .field.hs-form-field{width: 42%;}
    .products-page-form .hs_country.hs-country{width: 95%;}
    .services-hiring-content{padding-left: 10px; padding-right: 10px;}
    
    .about-and-products .col-xs-12{width: 100%;}
    .cloud img{width: 100%; margin-top: 15px;}
    
}


@media (max-width: 380px) {
    
    .right-side-form .field.hs-form-field{width: 42%;}
    .hs_message.hs-message {width: 93% !important;}
    .hs-error-msgs.inputs-list{display: none !important;}
    .main-banner-content{font-size: 20px;}
    .banner-word-2{font-size: 22px;}
    .clients h2, .banner-section h2{font-size: 30px; text-align: left; padding-left: 35px;}
    .main-banner-content{padding-left: 0;}
    .navbar-default .navbar-toggle{margin: 0;}
    .navbar-brand img{margin-top: 0;}
    .align-middle h1{font-size: 25px;}
    
    
    
}


@media (max-width: 360px) {
    .copyrights p{font-size: 13px;}
    .products-form-bg form .hs-input{margin-left: 0;}
    
    .form-products .hbspt-form .hs_submit.hs-submit{margin-left: 10px;}
    
}





















































































































































































































































































































