$font-primary: 'Karla', Arial, sans-serif;
$font-secondary: 'Playfair Display', Georgia, serif;
// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #F9CE00 !default;
$brand-secondary: #FFE9E3 !default; 

$brand-white: #fff;
$brand-black: #000;
$brand-lighter: #727272;
$brand-selection-color: #b7c2c2;
$brand-body-color: #fcfcfc;
$brand-body-bg: #f9f7f7;


$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;



// Mixin
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin flex() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

// Template Base
body {
	font-family: $font-primary;
	line-height: 1.8;
	font-size: 16px;
	font-weight: 400;
	background: $brand-white;
	color: lighten($brand-black,50%);
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}
#colorlib-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	> div {
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}
}	
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover{
		text-decoration: underline;
		color: $brand-primary;
	}
	&:focus, &:active {
		outline: none;
	}
}
p, span {
	margin-bottom: 1.5em;
	font-weight: 400;
	font-family: $font-primary;
}
ul,ol{
	display: block;
	margin-bottom: 1.5em;
}
span{
	font-size: 18px;
	color: rgba($brand-lighter,.8);
}

h1, h2, h3, h4, h5, h6 {
	color: rgba($brand-black,.8);
	font-family: $font-secondary;
	margin: 0 0 30px 0;
	line-height:1.3;
}
::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

#colorlib-page {
	position: relative;
	-webkit-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-moz-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-ms-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-o-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	.menu-show & {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
		position: relative;
		&:after{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			content: '';
			background: rgba(0,0,0,.4);
			z-index: 3;
		}
	}
	@media screen and(max-width: $screen-sm){
		padding-top: 5em;
	}
}



#colorlib-main-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 4em 40px 40px 40px;
	width: 360px;
	height: 100%;
	background: rgba(255,255,255,1);
	z-index: 1002;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-moz-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-ms-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-o-transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	transition: all .8s cubic-bezier(.175, .885, .32, 1.275);
	-webkit-transform: scale(0.0);
	-moz-transform: scale(0.0);
	-ms-transform: scale(0.0);
	-o-transform: scale(0.0);
	transform: scale(0.0);
	overflow-y: scroll;
	@media screen and(max-width: $screen-sm){
		width: 300px;
	}
	.colorlib-nav-toggle {
		position: absolute;
		top: 5px;
		right: 40px;
		padding: 20px;
		height: 44px;
		width: 44px;
		background: rgba(0,0,0,.05);
		line-height: 0;
		padding: 0!important;
		visibility: hidden;
		opacity: 0;
		@include border-radius(2px);
		@include transition(.3s);
		i {
			top: 18px!important;
			left: 0!important;
			margin: 0!important;
			padding: 0!important;
			line-height: 0;
			text-indent: 0;
		}
		&.show {
			visibility: visible;
			opacity: 1;
		}
		&:hover {
			background: rgba(0,0,0,1);
			i{
				&::before, &::after {
			  	   content:'';
				   width: 20px;
				   height: 1px;
				   background: $brand-white;
				   position: absolute;
				   left:0;
				}
			}
		}
	}
	.menu-show & {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-ms-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);
	} 
	ul {
		// text-align: center;
		padding: 0;
		margin: 0 0 3em 0;
		@media screen and (max-width: $screen-sm) {
			padding: 20px 0 0 0;
		}
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: left;
			a {
				display: block;
				color: rgba(0,0,0,1);
				font-size: 14px;
				padding: 10px 0;
				text-transform: uppercase;
				font-weight: 400;

				@media screen and (max-width: $screen-sm) {
					font-size: 16px;
				}
				&:hover, &:active, &:focus {
					color: rgba(0,0,0,1);
					outline: none;
					text-decoration: none;
				}
			}	
			&.active{
				a{
					color: $brand-primary;
				}
			}
		}
		
	}

	//SEARCH
	.form-group{
		margin-bottom: 40px;
		position: relative;
		width: 100%;
		@media screen and (max-width: $screen-xs){
			width: 100%;
		}
		input::-webkit-input-placeholder {
			color: lighten($brand-black,20%);
		}
		input::-moz-input-placeholder {
			color: lighten($brand-black,20%);
		}
		input::-ms-input-placeholder {
			color: lighten($brand-black,20%);
		}
		input::-o-input-placeholder {
			color: lighten($brand-black,20%);
		}
		input::input-placeholder {
			color: lighten($brand-black,20%);
		}
	}
	#search {
		font-size: 14px;
		width: 100%;
		padding-right: 3em;
		border: none;
		border: 2px solid lighten($brand-black,95%);
		background:lighten($brand-black,98%);
		color: lighten($brand-black,20%) !important;
	}
	button {
		position: absolute;
		top: 0;
		right: -4px;
		@include border-radius(0);
		background: $brand-primary;
		color: $brand-white;
		border: none;
		padding: 16px;
	}
	#email{
		font-size: 18px;
		width: 100%;
		border: none;
		border: 2px solid $brand-white;
		background:$brand-white;
		color: lighten($brand-black,20%) !important;	
	}

	//GALLERY
	.gallery{
		float: left;
		width: 50%;
		height: 150px;
		position: relative;
		display: table;
		z-index: 0;
		text-decoration: none;
		@media screen and(max-width: $screen-sm){
			width: 25%;
		}
		@media screen and(max-width: $screen-xs){
			width: 50%;
		}
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background: rgba($brand-black,.3);
			opacity: 0;
			z-index: -1;
			@include transition(.3s);
		}
		span{
			display: table-cell;
			vertical-align: middle;
			height: 150px;
			opacity: 0;
			@include transition(1s);
			i{
				color: $brand-white;
				font-size: 20px;
			}
		}
		&:hover, &:focus{
			&:after{
				opacity: 1;
			}
			span{
				opacity: 1;
			}
		}
	}
}


.head-title{
	font-size: 20px;
}

// Header START
header{
	padding: 2em 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;	
	z-index: 9;
	margin: 0 auto;
	@media screen and (max-width: $screen-sm) {
		padding: 2em 0;
	}
	.colorlib-navbar-brand{
		float: left;
		.colorlib-logo{
			font-size: 24px;
			text-transform: uppercase;
			color: $brand-black;
			font-family: $font-secondary;
			font-weight: 700;
			letter-spacing: 10px;
			display: block;
			text-align: center;
			&:hover{
				text-decoration: none !important;
			}
			&:active, &:focus {
				outline: none;
				text-decoration: none;
			}
		}
	}
}


#colorlib-services,
#colorlib-contact,
#colorlib-work,
#colorlib-blog,
#colorlib-contact{
	padding: 10em 0;
	clear: both;
	position: relative;
	@media screen and(max-width: $screen-sm){
		padding: 5em 0;
	}
}

#colorlib-hero{
	width: 100%;
	clear: both;
	.hero-flex{
		width: 100%;
		z-index: 0;
		@include flex();
		@include flexwrap();
		.col-three-forth{
			width: 60%;
			z-index: -1;
			float: left;
			position: relative;
		}
		.col-one-forth{
			width: 40%;
			float: left;
			position: relative;
		}
		.display-t{
			display: table;
			width: 100%;
		}
		.display-tc{
			display: table-cell;
			vertical-align: middle;
		}
		.number{
			position: absolute;
			bottom:0;
			left: 0;
			right: 0;
			font-size: 220px;
			text-align: right;
			color: lighten($brand-black,95%);
			font-weight: 700;
			@media screen and(max-width: $screen-sm){
				display: none;
			}
		}
		.text-inner{
			display: block;
			width: 100%;
			margin-left: -5em;
			h2{
				font-size: 58px;
				font-weight: 700;
				letter-spacing: 2px;
				@media screen and(max-width: $screen-sm){
					font-size: 24px;
				}
			}
			.tag{
				display: block;
				letter-spacing: 7px;
				margin-bottom: 15px;
				text-transform: uppercase;
				font-size: 13px;
			}
			.desc{
				padding-right: 3em;
				position: relative;
				@media screen and(max-width: $screen-sm){
					padding: 1em;
					background: $brand-white;
					width: 100%;
				}
				@media screen and(max-width: $screen-xs){
					padding: 1em;
					background: $brand-white;
					width: 140%;
				}
				&:after{
					position: absolute;
					top: 30px;
					bottom: 0;
					right: 0;
					content: '';
					width: 200px;
					height: 1px;
					background: $brand-black;
					@media screen and(max-width: $screen-sm){
						opacity: 0;
					}
				}
			}
			.btn-view{
				font-size: 13px;
				letter-spacing: 7px;
				color: $brand-black;
				text-transform: uppercase;
				border: 1px solid $brand-black;
				padding: 7px;
				text-decoration: none;
				@media screen and(max-width: $screen-sm){
					letter-spacing: 2px;
				}
			}
		}
	}



	.owl-theme .owl-controls{
		position: absolute;
		bottom: 0;
		left: 7.3em;
		right: 0;
		width: 180px;
		display: block;
		margin: 0 auto;
		@media screen and(max-width: $screen-sm){
			left: 0;
		}
	}

	.owl-theme .owl-controls .owl-nav [class*=owl-]{
		padding: 8px 15px;
		background: $brand-white;
		border: none;
		@include border-radius(0);
		i{
			border: none;
		}
		&:hover{
			background: $brand-primary;
			border: none;
		}
	}
	// .owl-carousel .owl-controls .owl-nav .owl-next{
	// 	// position: absolute;
	// 	// right: 0;
	// 	bordeR: 1px solid red;
	// }
	.owl-carousel .owl-controls .owl-nav .owl-next,
	.owl-carousel .owl-controls .owl-nav .owl-prev {
		margin: 1px;
		i {
			font-size: 14px;
			color: $brand-black;
			background: transparent;
		}
		&:hover {
			i {
				color: rgba($brand-white,1);
			}
		}
	}
}


//ABOUT
.about-flex{
	width: 100%;
	@include flex();
	@include flexwrap();
	z-index: 0;
	.col-half{
		width: 50%;
		display: block;
		overflow: scroll;
	}
	.about-img{
		z-index: -1;
	}
	.display-t{
		display: table;
		.display-tc{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.about-desc{
		padding: 7em;
		z-index: 1;
		@media screen and(max-width: $screen-sm){
			padding: 1em;
		}
		.title{
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 7px;
			display: block;
			margin-bottom: 20px;
		}
		.about-head{
			font-weight: 700;
			font-size: 38px;
		}
		p{
			a{
				color: $brand-black;
				i{
					color: $brand-black;
				}
			}
		}
		strong{
			color: $brand-black;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				position: relative;
				padding-left: 30px;
				color: $brand-black;
				margin-bottom: 10px;
				i{
					position: absolute;
					top: 5px;
					left: 0;
				}
			}
		}
	}

	.owl-theme .owl-controls{
		position: absolute;
		bottom: 10px;
		left: 20px;
		@media screen and(max-width: $screen-sm){
			right: 0;
		}
	}
	.owl-theme .owl-dots .owl-dot {
    	display: block;
	}
	.owl-theme .owl-dots .owl-dot span{
		background: lighten($brand-black,90%);
	}
	.owl-theme .owl-dots .owl-dot.active span{
		background: $brand-black;
	}
}


// USEFUL CODE // --------------------------------//
.bold{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 250px;
	color: lighten($brand-black,94%);
	font-weight: 700;
	@media screen and(max-width: $screen-sm){
		font-size: 60px;
	}
}
// heading
.intro-heading{
	margin-bottom: 3em;
	h2{
		font-size: 34px;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: 1.5em;
		color: $brand-black;
		position: relative;
	}
	span{
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 3px;
		margin-bottom: 10px;
		color: lighten($brand-black,75%);
		font-weight: 600;
	}
}

.no-gutters{
	padding: 0 !important;
	margin: 0 !important;
}


//COVER BACKGROUND
.hero-img,
.about-img,
.work-img,
.gallery{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}


// ---------------------------------------------------


//WORK

.work-entry-flex{
	@include flex();
	@include flexwrap();
	width: 100%;
	margin-bottom: 7em;
	.col-three-forth{
		width: 55%;
	}
	.col-one-forth{
		width: 45%;
	}
	.display-t{
		display: table;
	}
	.display-tc{
		display: table-cell;
		vertical-align: middle;
	}
	.text-inner-right{
		text-align: right;
		margin-right: 0;
		padding-left: 0;
		@media screen and(max-width: $screen-sm){
			text-align: left;
			margin-left: -4em;
		}
	}
	.text-inner-left{
		text-align: left;
		margin-left: -4em;
	}
	.text-inner{
		display: block;
		padding: 3em;
		background: $brand-white;
		@media screen and(max-width: $screen-sm){
			padding: 1em;
		}
		h2{
			font-size: 40px;
			font-weight: 700;
			letter-spacing: 2px;
			@media screen and(max-width: $screen-sm){
				font-size: 24px;
			}
			a{
				color: $brand-black;
				text-decoration: none;
			}
		}
		.btn-view{
			font-size: 13px;
			letter-spacing: 7px;
			color: $brand-black;
			text-transform: uppercase;
			border: 1px solid $brand-black;
			padding: 7px;
			text-decoration: none;
		}
	}
}

//WORK SINGLE
.work-single-flex{
	width: 100%;
	@include flex();
	@include flexwrap();
	.col-half{
		width: 50%;
		position: relative;
	}
	.display-t{
		display: table;
		width: 100%;
	}
	.display-tc{
		display: table-cell;
		vertical-align: middle;
	}
	.work-desc{
		padding: 7em;
		@media screen and(max-width: $screen-sm){
			padding: 1.5em;
			background: $brand-white;
			margin-left: -5em;
		}
		.btn-preview{
			font-size: 13px;
			letter-spacing: 7px;
			color: $brand-black;
			text-transform: uppercase;
			border: 1px solid $brand-black;
			padding: 7px;
			text-decoration: none;
		}
	}
}



.article{
	display: block;
	.blog-img{
		margin-bottom: 50px;
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		z-index: -1;
		img {
			position: relative;
			max-width: 100%;
			-webkit-transform: scale(1.0);
			-moz-transform: scale(1.0);
			-ms-transform: scale(1.0);
			-o-transform: scale(1.0);
			transform: scale(1.0);
			@include transition(.7s);
		}
		.overlay{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0,.6);
			opacity: 0;
			@include transition(.3s);
		}
		.link{
			position: absolute;
			top: 0;
			left: 90%;
			display: table;
			width: 100%;
			opacity: 0;
			@include transition(.7s);
			.read{
				display: table-cell;
				vertical-align: middle;
				font-family: $font-primary;
				color: $brand-white;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 5px;
				-webkit-transform: rotate(-90deg);
		     	-moz-transform: rotate(-90deg);
		      -ms-transform: rotate(-90deg);
		      -o-transform: rotate(-90deg);
		      transform: rotate(-90deg);
				transform-origin: 0;
				position: relative;
				&:after{
					position: absolute;
					top: 10px;
					left: -50px;
					content: '';
					background: $brand-white;
					width: 40px;
					height: 1px;
				}
			}
		}
		&:hover{
			.overlay{
				opacity: 1;
			}
			.link{
				opacity: 1;
				top: 120px;
			}
			img {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
	.desc{
		position: relative;
		z-index: 1;
		margin-top: -5em;
		width: 90%;
		background: $brand-white;
		padding: 1em;
		padding-top: 2em; 
		.meta{
			position: absolute;
			top: -60px;
			left: 20px;
			background: $brand-secondary;
			color: $brand-black;
			padding: 20px 10px;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 4px;
			@include transition(1s);
			-webkit-box-shadow: 0px 2px 49px -4px rgba(0,0,0,0.21);
			-moz-box-shadow: 0px 2px 49px -4px rgba(0,0,0,0.21);
			-ms-box-shadow: 0px 2px 49px -4px rgba(0,0,0,0.21);
			-o-box-shadow: 0px 2px 49px -4px rgba(0,0,0,0.21);
			box-shadow: 0px 2px 49px -4px rgba(0,0,0,0.21);
		}
		h2{
			font-size: 24px;
			a{
				text-decoration: none;
				color: $brand-black;
			}
		}
	}
	&:hover{
		.meta{
			background: $brand-white;
		}
	}
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-size: 13px !important;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	@include border-radius(1px);
	@include transition(.5s);
	padding: 8px 20px;
	&.btn-md {
		padding: 8px 20px!important;
	}
	&.btn-lg {
		padding: 18px 36px!important;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
		outline: none!important;
	}
}
.btn-primary {
	background: $brand-primary;
	color: $brand-white;
	border: 2px solid $brand-primary;
	&:hover, &:focus, &:active {
		background: lighten($brand-primary, 5%)!important;
		border-color: lighten($brand-primary, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: lighten($brand-black,30%);
		border: 1px solid lighten($brand-black,85%);
		&:hover, &:focus, &:active {
			background: $brand-primary;
			color: $brand-white;
		}
	}
}
.btn-success {
	background: $brand-success;
	color: $brand-white;
	border: 2px solid $brand-success;
	&:hover, &:focus, &:active {
		background: darken($brand-success, 5%)!important;
		border-color: darken($brand-success, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-success;
		border: 2px solid $brand-success;
		&:hover, &:focus, &:active {
			background: $brand-success;
			color: $brand-white;
		}
	}
}
.btn-info {
	background: $brand-info;
	color: $brand-white;
	border: 2px solid $brand-info;
	&:hover, &:focus, &:active {
		background: darken($brand-info, 5%)!important;
		border-color: darken($brand-info, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-info;
		border: 2px solid $brand-info;
		&:hover, &:focus, &:active {
			background: $brand-info;
			color: $brand-white;
		}
	}
}
.btn-warning {
	background: $brand-warning;
	color: $brand-white;
	border: 2px solid $brand-warning;
	&:hover, &:focus, &:active {
		background: darken($brand-warning, 5%)!important;
		border-color: darken($brand-warning, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-warning;
		border: 2px solid $brand-warning;
		&:hover, &:focus, &:active {
			background: $brand-warning;
			color: $brand-white;
		}
	}
}
.btn-danger {
	background: $brand-danger;
	color: $brand-white;
	border: 2px solid $brand-danger;
	&:hover, &:focus, &:active {
		background: darken($brand-danger, 5%)!important;
		border-color: darken($brand-danger, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-danger;
		border: 2px solid $brand-danger;
		&:hover, &:focus, &:active {
			background: $brand-danger;
			color: $brand-white;
		}
	}
}

.btn-outline {
	background: none;
	border: 2px solid lighten($brand-black, 50%);
	font-size: 16px;
	@include transition(.3s);
	&:hover, &:focus, &:active {
		box-shadow: none;
	}
}

.row-padded-bottom{
	margin-bottom: 4em;
}
.row-pb-md{
	margin-bottom: 3em;
}
.col-pb-sm{
	margin-bottom: 5em !important;
	&:last-child{
		margin-bottom: 0;
	}
}

.btn.with-arrow {
	position: relative;
	@include transition(.3s);
	i {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -8px;
		@include transition(.2s);
	}
	&:hover {
		padding-right: 50px;
		i {
			color: $brand-white;
			right: 18px;
			visibility: visible;
			opacity: 1;
		}
	}
}
.btn-submit{
	background: $brand-black;
	border: 2px solid $brand-black;
}


// Burger Menu
.colorlib-nav-toggle {
   cursor: pointer;
   text-decoration: none;
   &.active i {
		&::before, &::after {
			background: $brand-black;
		}
  }
  &.dark {
  	&.active i {
			&::before, &::after {
				background: $brand-black;
			}
	  }
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	  position: relative;
	  @include inline-block;
	  width: 20px;
	  height: 2px;
	  color: $brand-black;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: $brand-black;
	  transition: all .2s ease-out;
	  .menu-show & {
			background: $brand-black;
			color: $brand-white;
		}
		&::before, &::after {
	  	   content:'';
		   width: 20px;
		   height: 2px;
		   background: $brand-black;
		   position: absolute;
		   left:0;
		   .menu-show & {
				background: lighten($brand-black,20%);
		   }
		   @include transition(.2s);
	  }
  }
  &.dark {
  	i {
	  	position: relative;
		color: $brand-white;
		background: $brand-white;
		transition: all .2s ease-out;
			&::before, &::after {
			   background: $brand-white;
			   @include transition(.2s);
		  }
	  }
  }
}

.colorlib-nav-toggle i::before {
  top: -7px;
}
.colorlib-nav-toggle i::after {
  bottom: -7px;
}
.colorlib-nav-toggle:hover i::before {
  top: -10px;
}
.colorlib-nav-toggle:hover i::after {
  bottom: -10px;
}
.colorlib-nav-toggle.active i {
	background: transparent;
}
.colorlib-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.colorlib-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.colorlib-nav-toggle {
	float: right;
	z-index: 1003;
	position: relative;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 0;
  	@media screen and (max-width: $screen-sm) {
  		display: block;
  		top: 0px;
  	}
  
}


// Contact
.contact-info{
	margin-bottom: 4em;
	padding: 0;
	li{
		list-style: none;
		margin: 0 0 30px 0;
		position: relative;
		padding-left: 60px;
		span{
			position: absolute;
			top: -0.3em;
			left: 0;

			width: 40px;
			height: 40px;
			background: $brand-white;
			display: table;
			text-align: center;
			@include border-radius(50%);
		}
		i{
			display: table-cell;
			vertical-align: middle;
			font-size: 16px;
			color: rgba($brand-black,.5);
		}
		a{
			color: $brand-black;
		}
	}
}
.form-control {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: 1px solid lighten($brand-black,96%);
	font-size: 16px;
	font-weight: 300;
	@include border-radius(0px);
	
	&:focus, &:active {
		box-shadow: none;
		border: 1px solid $brand-black;
	}

}
input[type="text"] {
	height: 50px;
}
.form-group {
	margin-bottom: 30px;
}

.colorlib-social-icons{
	a{
		&:hover, &:focus{
			text-decoration: none !important;
		}
	}
	i{
		font-size: 24px;
		color: $brand-primary;
	}
}


#colorlib-subscribe{
	padding: 5em 0;
	.colorlib-heading{
		margin-bottom: 20px;
		h2{
			font-weight: 700;
		}
		p{
			font-size: 18px;
		}
	}
}
.qbstp-header-subscribe {
	@include flex();
	@include flexwrap();
	width: 100%;
	padding: 0;
	.col-three-forth{
		width: 70%;
	}
	.col-one-third{
		width: 30%;
	}
	.col-three-forth, .col-one-third{
		display: table;
		height: 50px;
		float: left;
		@media screen and(max-width: $screen-sm){
			width: 50%;
		}
	}

	.form-control{
		background: transparent;
	}

	.form-group{
		position: relative;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		@media screen and (max-width: $screen-xs){
			width: 100%;
		}
		input::-webkit-input-placeholder {
			color: lighten($brand-black,20%);
		}
		input::-moz-input-placeholder {
			color: lighten($brand-black,20%);
		}
		input::-ms-input-placeholder {
			color: lighten($brand-black,20%);
		}
		input::-o-input-placeholder {
			color: lighten($brand-black,20%);
		}
		input::input-placeholder {
			color: lighten($brand-black,20%);
		}
	}
	#email {
		font-size: 14px;
		width: 100%;
		border: none;
		border-bottom: 1px solid lighten($brand-black,10%);
		color: lighten($brand-black,20%) !important;
	}
	button {
		border-top-left-radius: 0px!important;
		border-bottom-left-radius: 0px!important;
		background: $brand-black;
		color: $brand-white;
		border: none;
		padding: 10px 20px;
		text-transform: uppercase;
		height: 50px;
		width: 100%;
		display: block;
	}
}

// footer
#footer{
	padding: 8em 0;
	display: block;
	width: 100%;
	h2{
		color: $brand-black;
		letter-spacing: 1px;
		margin-bottom: 2em;
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
	}
	p{
		a{
			color: $brand-black;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&.colorlib-social-icons{
			a{
				color: $brand-black;
				&:hover, &:focus{
					text-decoration: none !important;
				}
			}
			i{
				font-size: 24px;
				color: $brand-black;
			}
		}
		.block{
			color: lighten($brand-black,10%);
			font-size: 14px;
		}
	}
}

.animate-box {
	.js & {
		opacity: 0;
	}
}

// Client Logos:
.client-logos{
	padding: 40px 0 100px 0; 
}